.jumping-dots {
    display: inline-flex;
    background-color: #f1f1f1;
    padding-left: 2px;
    border-radius: 18px;
    margin-left: 6px;
    height: 10px;
  }
  
  .jumping-dots .dot {
    height: 5px;
    width: 5px;
    opacity: 0.7;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #6c757d;
    animation: jump 1.8s var(--delay) ease-in-out infinite;
  }
  
  @keyframes jump {
    0%,
    44% {
      transform: translateY(0px);
    }
  
    28% {
      opacity: 0.4;
      transform: translateY(-9px);
    }
  
    28% {
      opacity: 0.2;
    }
  }