.base {
  width: 48px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  background-color: hsla(0, 71%, 36%, 1);
  margin-bottom: 8px;
  padding-bottom: 6px;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: pulse-dot;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

.base::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Changed to 50% for a circle shape */
  background-color: hsla(0, 71%, 36%, 1);
  position: absolute;
  z-index: -1;
  animation-name: ripple;
  animation-duration: 2.4s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

.base::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Changed to 50% for a circle shape */
  background-color: hsla(0, 71%, 36%, 1);
  position: absolute;
  z-index: -1;
  animation-name: ripple;
  animation-duration: 2.4s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
