#bars {
    display: flex;
    justify-content: center;
    align-items: center;
/*     background: black; */
}

.bar {
    background: #64748b;
    bottom: 1px;
    height: 1px;
    width: 6px;
    margin: 0px 2px;
    border-radius: 4px;
    animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 2px; 
    }
    100% {
        opacity: 1;       
        height: 30px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 10px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 15px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 20px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 25px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 30px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 35px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 38px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 40px; animation-duration: 442ms; }