@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: #1d1a1f #fff;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-jakarta {
  font-family: "Plus Jarkata Sans", sans-serif;
}

.font-dms {
  font-family: "DM Sans", sans-serif;
}

.font-archetic {
  font-family: "Architects Daughter", cursive;
}

.font-medium {
  font-weight: 16px !important;
}

.font-bold {
  font-weight: 32px;
}

.font-semibold {
  font-weight: 40px;
}

.font-semibold {
  font-weight: 55px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #1f1f1f;
}

*::-webkit-scrollbar-thumb {
  background-color: #1d1a1f;
  border-radius: 8px;
  border: 3px double #231f1f;
}

@keyframes wave {
  0% {
    height: 0.25rem;
  }

  25% {
    height: 0.5rem;
  }

  50% {
    height: 1rem;
  }

  75% {
    height: 0.5rem;
  }

  100% {
    height: 0.25rem;
  }
}

.animate-wave {
  animation: wave 1.5s infinite ease-in-out;
}

.animation-delay-1 {
  animation-delay: 0.1s;
}

.animation-delay-2 {
  animation-delay: 0.2s;
}

.animation-delay-3 {
  animation-delay: 0.3s;
}

.animation-delay-4 {
  animation-delay: 0.4s;
}

.animation-delay-5 {
  animation-delay: 0.5s;
}

.animation-delay-6 {
  animation-delay: 0.4s;
}

.animation-delay-7 {
  animation-delay: 0.3s;
}

.animation-delay-7 {
  animation-delay: 0.2s;
}

.animation-delay-8 {
  animation-delay: 0.1s;
}

@media (min-width: 868px) {
  .p-card {
    position: relative;
    bottom: 10rem;
  }

  .card:first-child {
    position: relative;
    top: 9rem;
  }

  .card:nth-child(2) {
    position: relative;
    bottom: 3rem;
  }

  .card:nth-child(3) {
    visibility: hidden;
  }

  .card:nth-child(4) {
    position: relative;
    top: 0;
  }
}

.card:nth-child(3) {
  visibility: hidden;
}

.card:nth-child(4) {
  position: relative;
  bottom: 9rem;
}

body {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Spacing */
  margin: 0;

  /* Sizing */
  width: 100%;
  min-width: 100%;
  font-family: "inter", sans-serif;

  /* font-size: 16px; */
  background-color: white;
}

.App {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #181818;
}

.res img {
  transition: transform 0.3s;
}

.res img:hover {
  color: #52eeca;
  transform: translateY(-0.7rem);
}

.form {
  transition: 0.5s all ease;
  animation-duration: 1.5s;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  transition: 0.3s;
}

.news {
  text-shadow: 2px 2px #000;
}

/* input:focus,
textarea:focus {
  border: 1px solid #5d5dff;
  box-shadow: inset 1px 1px 0 #5d5dff, inset -1px -1px 0 #4285f4;
} */
#root {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Spacing */
  width: 100%;
  min-width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.bt-size {
  width: fit-content;
}

.emoji-container {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  margin: 0 1em;
}

.emoji-container.open {
  height: fit-content; /* Adjust the desired height */
}

@layer components {
  /* main */
  .main-container {
    @apply flex  flex-1 flex-col items-center px-6 pb-10  max-md:pb-32 sm:px-10 mt-[1.5rem];
  }

  .tooltip {
    @apply absolute -top-9 -left-14 bg-black text-white text-[12px] rounded h-5 w-[150px] px-2 flex items-center justify-center opacity-0 transition-opacity duration-200 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto;
  }

  .container {
    @apply w-full max-w-[1284px] m-auto;
  }

  /* Head Text */
  .head-text {
    @apply text-[38px] max-lg:text-[25px]  font-extrabold;
  }

  .title-text {
    @apply text-title-500 text-[56px] max-lg:text-[40px] font-bold;
  }

  .sub-title-text {
    @apply text-[#9BA9B4] text-[20px] max-lg:text-[18px]  font-medium;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .filter-card {
    @apply bg-white relative w-full rounded-[16px] border-[2px]  border-background-500 z-[1] p-10 my-[1rem];
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-light-1 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
  }

  .searchbar_input {
    @apply border-none bg-dark-3 text-base-regular text-light-4 outline-none !important;
  }

  .topbar {
    @apply sticky w-full max-w-[97%] m-auto top-0  flex  items-center justify-between rounded-[16px] bg-white mt-4  px-6 py-4;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-primary-500 p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply fixed left-0 top-0 z-20 flex h-[87%] max-xl:h-[83%]  w-fit flex-col justify-between overflow-auto rounded-[16px] bg-white mx-5 pb-0 pt-10 max-md:hidden;
  }

  .sidebarcourse {
    @apply fixed  left-0 top-0 z-20 flex h-[87%] max-xl:h-[83%]  w-fit flex-col overflow-auto rounded-[16px] mx-5 pb-0 pt-10 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4  p-4 px-6 max-lg:p-2 max-lg:px-1 max-lg:gap-2;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger .cl-organizationPreview .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}

.editable-div[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: grey;
  pointer-events: none;
  display: block;
}

.radial-gradient {
  background:
    radial-gradient(
      49.88% 49.88% at 50% 50.12%,
      rgba(74, 134, 247, 0.28) 0%,
      rgba(74, 134, 247, 0) 100%
    );
}

@keyframes countdown {
  0% {
    width: 0%;
    left: 0%;
  }

  50% {
    left: 0%;
  }

  100% {
    width: 100%;
    left: 0%;
  }
}

.countdown-bar {
  height: 4px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  animation: countdown 4s linear forwards;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a57aa;
}
